/**
///Stores the color configuration
**/
$blue: #8beeff;
$blue-b: #6be1f5;
$pink: #f559ff;
$pink-b: #de4ee8;
$green: #aaff00;
$green-b: #98e500;
$orange: #ffae00;
$orange-b: #e59d02;
$yellow: #fffc54;
$yellow-b: #e8e54c;
$red: #e20000;
$red-b: #c90202;
$purple: #b80eef;
$purple-b: #9009bc;
$grey: #797a7c;
$grey-b: #65676b;
$grey-s: #adb1ba;
$metal: linear-gradient(90deg, $grey, lighten($grey, 10%), $grey);

/**
 * Define tetriminos shape
 */
.base-bloc {
	display: flex;
	width: 2.5em;
	height: 2.5em;
	align-items: center;
	justify-content: center;

	.shine-effect {
		display: flex;
		height: 1em;
		width: 1em;
		z-index: 2;
		border: 0.2em solid white;
	}
}
/**
 * Define tetriminos colors
 */
.disable-bloc {
	background-color: transparent;
	border: 0.2em solid transparent;
}

.blue-bloc {
	background-color: $blue;
	border: 0.2em solid $blue-b;
}

.pink-bloc {
	background-color: $pink;
	border: 0.2em solid $pink-b;
}

.green-bloc {
	background-color: $green;
	border: 0.2em solid $green-b;
}

.orange-bloc {
	background-color: $orange;
	border: 0.2em solid $orange-b;
}

.yellow-bloc {
	background-color: $yellow;
	border: 0.2em solid $yellow-b;
}

.red-bloc {
	background-color: $red;
	border: 0.2em solid $red-b;
}

.purple-bloc {
	background-color: $purple;
	border: 0.2em solid $purple-b;
}

.dead-bloc {
	position: relative;
	overflow: hidden;
	background-color: $grey;
	border: 0.2em solid $grey-b;

	&:before {
		position: absolute;
		content: '';
		width: 100%;
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 1;
		background-image: $metal;
		animation: shine 5s linear infinite;
	}

	.shine-effect {
		width: 1.5em !important;
		height: 1.5em !important;
		border: 0.2em solid $grey-s !important;
	}
}
@keyframes shine {
	0% {
		transform: translateX(-100%);
	}

	20% {
		transform: translateX(200%);
	}

	100% {
		transform: translateX(200%);
	}
}
